# CPython 3.12.12 on Darwin arm64
# Read from importlib.metadata (38 distributions).
certifi==2026.5.20
cffi==2.1.0
charset-normalizer==3.4.7
contourpy==1.3.3
cycler==0.12.1
dcr==0.1.0
fonttools==4.63.0
idna==3.17
ImageIO==2.37.3
iniconfig==2.3.0
kiwisolver==1.5.0
markdown-it-py==4.2.0
matplotlib==3.10.9
mdurl==0.1.2
msgspec==0.21.1
numpy==2.4.5
packaging==26.2
pillow==12.2.0
pluggy==1.6.0
polyscope==2.6.1
pycparser==3.0
Pygments==2.20.0
pyparsing==3.3.2
pytest==9.0.3
python-dateutil==2.9.0.post0
requests==2.34.2
rich==14.3.4
scipy==1.17.1
six==1.17.0
sounddevice==0.5.5
tqdm==4.67.3
trimesh==4.12.2
typing_extensions==4.15.0
urllib3==2.7.0
viser==1.0.29
warp-lang==1.13.0
websockets==16.0
zstandard==0.25.0
